  .btn-toolbar{
    opacity: 1;
    font-size: 17px;

  }
  mat-toolbar{
      padding-right: 4vw;
      padding-top: 3.5vh;
      padding-bottom: 3.5vh;
      height: 7vh;
  }
  .toolbar-fill{
    flex: 1 1 auto;
  }
.toolbar-menu{
    margin: 0 10px 0 10px;
}
.active-route{
  border: 2px solid #d4d4d4;
  opacity: 1;
  border-radius: 100px;
}
.toolbar-head{
  margin-left: 2vw;
  font-weight: 600;
  font-stretch: narrower;
}