<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="slide" #sidenav>
        <mat-nav-list>
            <mat-list-item class="sideNavHead" (click)="sidenav.toggle()" routerLink="home">
                TO-DO
            </mat-list-item>
            <hr class="sideNavHr">
            <mat-list-item (click)="sidenav.toggle()" routerLink="home"   routerLinkActive="active-mobile-route">
                Home
            </mat-list-item>
            <mat-list-item (click)="sidenav.toggle()" routerLink="login" routerLinkActive="active-mobile-route">
                Login
            </mat-list-item>
            <mat-list-item (click)="sidenav.toggle()" routerLink="logout" routerLinkActive="active-mobile-route">
                Logout
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-icon (click)="sidenav.toggle()" class="mobile-visibility">menu</mat-icon>
            <div class="toolbar-head" routerLink="home">TO-DO</div>
            <span class="toolbar-fill"></span>
            <button mat-button class="btn-toolbar pc-visiblity" routerLink="home" routerLinkActive= "active-route" >Home</button>
            <button mat-button class="btn-toolbar pc-visiblity" routerLink="login" routerLinkActive= "active-route" >Log In</button>
            <button mat-button class="btn-toolbar pc-visiblity" routerLink="logout" routerLinkActive= "active-route"  >Log Out</button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>